* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Force JS files to use LF
*.js text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
